html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: whitesmoke;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.3em;
}

header{
    padding: 2em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.movie-container {
    margin: 1em;
    
}

header, form {
    background-color: #181514;
}

form button {
    cursor: pointer;
    background: #2F2A28;
    color: whitesmoke;
    font-family: inherit;
    padding: 0.5em 1em;
    
}

form input {
    width: 100%;
    background: #2F2A28;
    color: whitesmoke;
    padding: 0.5em 1em;
    border-radius: 0px;
}

.header-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: whitesmoke;
    text-decoration: none;
}

.movie {
    display: flex;
    border-bottom: 1px dotted whitesmoke;
    gap: 1em;
    height: 250px;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    
}

.basic-data-container {
    display:flex;
    gap: 2em;
    align-items: center;
    font-weight: 500;
}

.movie-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 1em;
}

.add {
    display: flex;
    align-items: center;
    gap: 0.5em;
    flex-direction: row-reverse;
    
}
.add button {
    border-radius: 50%;
    cursor: pointer;
    
}

.added {
    background-color: goldenrod;
}

.plot {
    font-size: 0.8em;
   overflow: hidden;
   text-overflow: ellipsis;
}



.main-img {
    width:90px;
    overflow: hidden;
}

.remove {
    
    display: none;
}

@media (min-width: 500px){

 h1 {
    font-size: 2m;
 }

 h2 {
    font-size: 1.5em;
 }

 form {
    flex-direction: row;
    gap: 1em;
 }

 form input {
    width: 500px;
 }

 .movie {
    height: 210px;
 }

 .plot {
    font-size: 1em;
 }
    
.header-top {
    flex-direction: row;
    gap: 1em;
}

.main-img {
    width:140px;
}


}


